* {
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shantell Sans', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    background: #99A98F;
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999999999;

}

.log {
    color: #0A4D68;
    font-weight: 900;
}

.pages a {
    color: #83764F;
    font-size: 20px;
    font-weight: 900;
}

i {
    color: #83764F;
    font-size: 20px;

    padding: 13px;
}

/*Slider*/
.C1 {
    background-color: #F6FFDE;
}

h1 {
    color: #0A4D68;
}

p {
    color: gray;
}


/*Portfolio*/


.Image {
    position: relative;
}

.Layer-text {
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: #99A98F;

    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Image:hover .Layer-text {
    display: flex;

}

.BB {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


/*Categorey*/

.Bttn {
    background-color: #83764F;
    border: #99A98F;
}

.Bttn.active {
    background-color: #0A4D68;
    ;
}

.Bttn:hover {
    background-color: #99A98F;
    color: black;
}

h5 {
    color: #0A4D68;
    font-size: 20px;
    font-weight: 600;
}


/* Footer*/

footer {
    padding: 2px;
    background: #99A98F;
}

span {
    cursor: pointer;
}

h2 {
    color: #83764F;
}

.links a,
.links {
    text-decoration: none;
    font-size: 19px;
    color: black;
}

.links a:hover {
    color: #0A4D68;
}

.links:hover {
    color: #0A4D68;
}

.Inf {
    font-size: 19px;
}

.mo {
    position: fixed;
    bottom: 0;
    right: 0;
}



/*Filterrrrrrrrrrrrrrr*/

.filterDiv {

    display: none;
    /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* ///////////////////////////////////////// */
/* SHOP SECTION  */
.add-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}
.add-cart:hover{
    background-color: hsl(249, 32%, 17%);
}

/* CART  */
.cart{
    position: fixed;
    top: 0;
    right: 0;
    right: -100%; 
    width: 360px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: var(--bg-color);
    box-shadow: -2px solid 4px hsla(248, 77%, 46%, 0.1);
    border: 1px solid var(--main-color);
    transition: 1.5s;
    background-color: black;
}
.cart.active{
    right: 0;
    transition: .5s;
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box{
    display: grid;
    row-gap: .5rem;
}
.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove{
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: .5rem;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: var(--sec-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover{
    background-color: var(--text-color);
}
#cart-close{
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}